<center><h1 style="color: #FF2542; font-size: 3em">Bienvenido a Fake Quora!</h1>


    <%= button_to "Questions!", questions_path, class: "button_submit", method: "get" %>
    <br>

    <%= button_to "Return!", {controller: "users", action: "index"}, class: "button_submit", method: "get" %>

</center>