// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_submit {
  
  width: 130px;
  height: 50px;
  background-color: #E65B77;
  border-radius: 10px;
  font-size: 1em;
  color: #E6F5FA;
  box-shadow: 10px 10px 20px #888888;

}

.form-user {

  font-size: 1em;

}